* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #37474F; 
    color: #FFFFFF; 
    font-family: Arial, sans-serif; 
}

h1{
    text-align: center;
    font-size: 45px;
    padding-top: 25px;
}

/* Stile del container */
.container {
    margin: 20px auto; 
    max-width: 70%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: flex-start; 
}

/* Stile dei div all'interno del container */
.container div {
    width: calc((100% / 7) - 10px); 
    margin: 5px; 
    text-align: center; 
    padding: 10px; 
    color: #FFFFFF; 
    font-size: 16px;
    font-weight: bold; 
    background-color: #1E272E; 
}

/* Stile specifico per la classe Fizz */
.container .fizz {
    background-color: #ffcc00; 
}

/* Stile specifico per la classe Buzz */
.container .buzz {
    background-color: #66ccff; 
}

/* Stile specifico per la classe FizzBuzz */
.container .fizzbuzz {
    background-color: #ff6699; 
}




/* Responsive Layout */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 100%; /
    }
}
@media only screen and (max-width: 700px) {
   
    .container div {
        width: calc((100% / 4) - 10px);
    }
}

@media only screen and (max-width: 365px) {
   
    .container div {
        width: calc((100% / 2) - 10px);
    }
}